h1{
	font-size: 100px;
	color: #f55c47;

}
p{
	font-family: Geneva;
	font-size: 65px;
	background: #e2bcb7;
}
h2{
	font-size: 70px;
	
}

body{
	background: #94d0cc;
}

div{
	background: #f2dac3;
}

table, th, td {
  border: 5px solid red;
  border-collapse: collapse;
  font-family:Romana;
}
th, td {
	font-family:Romana;
  padding: 10px;
  text-align: left;   
  font-size: 30px; 
}
